<div class="rhite_field">
  <div class="nested-fields">
      <%= f.file_field :stroke_image, class: 'file_field' %>
      <%= f.text_field :seasoning, required: true %>
      <%= link_to_remove_association "✖", f, class: "btn btn-danger delete_btn" %>
  </div>
</div>

