<!-- <div class="nested-fields"> -->
  <!-- <div class="field"> -->
    <%#= f.label :材料 %>
    <!-- </br> -->
    <%#= f.text_field :seasoning, required: true %>
  <!-- </div> -->
  <%#= link_to_remove_association "✖", f, class: "btn btn-banger" %>
<!-- </div> -->


