<%= render 'users/header' ,user:@user %>
<div><h3>投稿一覧</h3></div>
  <div class="container">
    <div class="row">
        <% @recipes.each do |recipe| %>
             <!-- <div class="col-md-4"> -->
          <table>
            <tbody>
              <tr>  <%= attachment_image_tag @recipe, :recipe_image, :fill,100,100,format: 'jpg', size: "200x200",fallback:"no_image.png" %></tr>
              <tr> <%= recipe.title %></tr>
            </tbody>
          </table>
        <% end %>
      </div>
  </div>
 </div>

<%= render 'users/footer' ,user:@user %>