<%= render 'users/header' ,user:@user %>

<div class="container">

      <h3> レシピ投稿</h3>
            <%= render 'recipes/form' , recipe:@recipe %>
          	<%#= render 'recipes/form2' ,recipe:@recipe %>


