<header>
  <h3>タイトル</h3>

  <div style="text-align: right; margin: 0px 40px 0px 0px;">
    <%= link_to "会員登録" ,new_user_registration_path    %>
      &nbsp &nbsp
    <%= link_to "ログイン" ,new_user_session_path %>
  </div>
</header>